<launch>

  <rosparam file="$(find livelybot_description)/robot_param/20dof_STM32H730_model_H_Hector_params_leg6motor.yaml"  command="load" />
  <!-- <rosparam file="/home/sunteng/control_ws/src/livelybot_robot/src/livelybot_description/robot_param/18dof_STM32H730_model_H_Hector_params.yaml" command="load" /> -->
  <node pkg="livelybot_serial" name="robot_node_1" type="robot_node_" output="screen" >
    <param name="dof_type_" value="20"/>
  </node>

</launch> 
