<launch>
	<arg name="wname" default="stairs" />
	<!-- <arg name="wname" default="normal"/> -->
	<arg name="rname" default="livelybot_urdf" />
	<arg name="robot_path" value="(find $(arg rname))" />
	<arg name="dollar" value="$" />
	<arg name="paused" default="true" />
	<arg name="use_sim_time" default="true" />
	<arg name="gui" default="true" />
	<arg name="headless" default="false" />
	<arg name="debug" default="false" />
	<!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
	<arg name="user_debug" default="false" />

	<!-- 加载urdf模型和srdf -->
	<include file="$(find livelybot_moveit)/launch/planning_context.launch">
		<arg name="load_robot_description" value="true" />
	</include>
	<!-- 定义节点属性，节点名，包名，重命名节点名，出错不重启，日志输出在桌面 -->
</launch>
